@media screen and (min-width: 40em) {
  .single-book {
    display: flex;
    align-items: flex-start;
  }
  .single-book img {
    width: 300px;
    height: 350px;
    object-fit: cover;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
}
