@media screen and (min-width: 40em) {
  .top{
    padding: 50px;
  }
  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }

  .checklist {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .checklist .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px;
  }

  .checklist .item input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  .checklist .item input[type="checkbox"]:checked {
    background-color: #555;
    border-radius: 100%;
    transition-duration: 0.5s;
  }

  .disabled-btn {
    display: block;
    margin: 40px auto 0px auto;
    padding: 8px;
    width: 250px;
    background-color: rgba(37, 110, 55, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .disabled-btn:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  .root-tab {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .tab {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .tab div {
    padding: 15px;
  }
  .tab h3 {
    padding: 10px 15px 2px 15px;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .tab .event {
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .event:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }
  .event .time {
    font-size: 14px;
    display: block;
  }
  .event .event-icons {
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
  }
  .event .event-icons i {
    padding: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  .event .event-icons i:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
  }

  .tab .performances {
    padding: 0px;
    display: flex;
    gap: 20px;
  }
  .tab .performance {
    padding: 0px;
  }
  .tab .performance span {
    display: block;
  }

  .notice span {
    font-size: 13px;
  }

  .link-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .link-icons .icon {
    padding: 10px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .link-icons .icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .link-icons .icon i {
    display: block;
    font-size: 30px;
  }
  .link-icons .icon span {
    display: block;
    padding: 5px 0px 0px 0px;
    font-size: 16px;
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
  }
  .filters i {
    margin-right: 10px;
  }
  .filters div .dropdown {
    border: none;
    outline: none;
    padding: 2px 8px;
    font-size: 16px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .filters .filter-btn {
    padding: 2px 8px;
    background-color: rgb(157, 157, 189);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .filters .filter-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .allpeople {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }
  .allpeople .people {
    width: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
  }
  .allpeople .people:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  .allpeople .people img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }
  .people .event-icons {
    font-size: 18px;
    padding-top: 5px;
    display: flex;
    gap: 10px;
  }
  .people .event-icons i {
    padding: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  .people .event-icons i:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
  }



}

@media screen and (min-width: 0em) and (max-width: 40em) {
}
