@media screen and (min-width: 40em) {
  .top{
    padding: 50px;
  }
  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }

  .checklist {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .checklist .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px;
  }

  .checklist .item input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  .checklist .item input[type="checkbox"]:checked {
    background-color: #555;
    border-radius: 100%;
    transition-duration: 0.5s;
  }

  .disabled-btn {
    display: block;
    margin: 40px auto 0px auto;
    padding: 8px;
    width: 250px;
    background-color: rgba(37, 110, 55, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  .disabled-btn:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  .tabs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tab {
    max-width: calc(50% - 10px);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .tab div {
    padding: 15px;
  }
  .tab h3 {
    padding: 10px 15px 2px 15px;
  }

  .dashboard-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .dashboard-icons .icon {
    padding: 20px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .dashboard-icons .icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .dashboard-icons .icon i {
    display: block;
    font-size: 60px;
  }
  .dashboard-icons .icon span {
    display: block;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
  }



}

@media screen and (min-width: 0em) and (max-width: 40em) {
}
