@media screen and (min-width: 40em) {
  .login-div {
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .login-form {
    display: block;
    width: 400px;
    margin: 20px auto;
    padding: 70px 30px;
    border-radius: 5px;
  }
  .login-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .login-div {
    padding: 0px 30px;
    margin: 0px auto;
  }
  .login-form {
    display: block;
    margin: 0px auto;
    padding: 50px 30px;
    border-radius: 5px;
  }
  .login-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    margin: 0px auto;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
}
