:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 255, 1);
}
a:hover {
  color: rgba(0, 0, 255, 0.5);
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.hide {
  display: none;
}