.home-left {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.home-left > div {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.home-left > div:last-child {
    align-self: flex-end; /* align last child to the bottom */
}

.home-right {
    margin-left: 200px;
}
