@media screen and (min-width: 40em) {
  html {
    width: 100%;
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    position: relative;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  /* MENU CSS */

  .menu {
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
  .menu .menu-top {
    color: white;
    background-color: rgb(80, 80, 80);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .menu .menu-top div {
    padding: 10px 20px;
    cursor: pointer;
  }
  .menu .menu-top div:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .menu .menu-top .bar {
    padding: 15px 0px;
    border: 1px solid white;
    cursor: auto;
  }

  .menu .menu-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  .menu .icon {
    color: rgb(157, 157, 189);
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
    font-weight: bold;
    padding: 0px 20px;
  }
  .menu .icon:hover {
    color: black;
  }

  .menu .icon2 {
    color: rgb(157, 157, 189);
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 20px;
  }

  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .top{
    padding: 20px;
  }

  .root-tab {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  .root-tab .tabs:nth-child(1) {
    width: 70%;
  }
  .root-tab .tabs:nth-child(2) {
    width: 100%;
  }

  .tab {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .tab h2, h3, h4 {
    padding: 10px 15px 2px 15px;
    margin: 0px;
  }

  .users {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  .users .user {
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .users .user:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  }
  .users .user .active-user {
    color: #28d728;
  }
  .hide {
    display: none;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html {
    width: 100%;
    margin: 0px;
    user-select: none;
    -moz-user-select: none;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    position: relative;
  }

  /* MENU CSS */
  .menu {
    position: fixed;
    max-width: 100vw;
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .menu .menu-top {
    color: white;
    background-color: rgb(80, 80, 80);
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .menu .menu-top div {
    padding: 0px 8px;
    cursor: pointer;
  }
  .menu .menu-top div:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .menu .menu-top .bar {
    padding: 10px 0px;
    border: 1px solid white;
    cursor: auto;
  }
  .menu .menu-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu .icon {
    color: rgb(157, 157, 189);
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 8px;
  }
  .menu .icon:hover {
    color: black;
  }

  .menu .icon2 {
    color: rgb(157, 157, 189);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 10px;
  }

  .academic1 {
    background-color: white;
    padding: 10px;
    margin: 0px auto;
  }
  .top{
    padding: 20px;
  }

  .root-tab {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .root-tab .tabs:nth-child(1) {
    width: 100%;
  }
  .root-tab .tabs:nth-child(2) {
    width: 100%;
  }

  .tab {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .tab h2, h3, h4 {
    padding: 10px 15px 2px 15px;
    margin: 0px;
  }

  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  .users .user {
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .users .user:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  }
  .hide {
    display: none;
  }
}
